@import url('https://fonts.cdnfonts.com/css/coolvetica-2');

*{
    font-family: 'Coolvetica', sans-serif;
    color: white;
}

html, body {
  font-family: 'Coolvetica', sans-serif;
  background-image: url(../assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;

}

nav {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
}

.logo {
    height: auto;
    width: 70%;
}

.generator {
    background-color: rgba(0, 0, 0, 0.1);
    height: 75vh;
    width: 90vw;
}

/* .d-flex{
    background-color: aqua;
} */

.main-text{
    background-color: rgba(0, 0, 0, 0.3);
    height: 75vh;
    width: 100vw;
}

.description-box{
    background-color: ;
    width: 75%;
    height: 55vh;
}

h1.h1 {
    font-size: 5rem;
}

.generate-btn {
    background-image: linear-gradient(to right, #34075C 8%, #6E0FC2 100%);;
}

textarea.form-control {
    resize: none;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
}

textarea.form-control:focus {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
}

textarea.form-control::placeholder {
  color: white;
  font-weight: normal;
}

.explore, .explore .art, .free-online{
  width: 75vw;
}

.horizontal-bar {
  width: 35%;
  height: 5px;
  background-color: #FFA800;

}

div.col-7{
  width: 33%;
}


@media (min-width:768px) {
    .art img{
      width: 75%;
    }
}


